
/* Main list item */
.myevent {
    background-color: #B9D1DB;
    border-style: outset;
    border-width: thin thick thick thin;
    border-color: #959DFF;
    margin: 30px;
    padding: 5px;
    width: auto;
    height: auto;
    /*height: 150px;*/
    position:relative;
    z-index: 50;
}
.timeAndCity {
    font-weight: bold
}
.details {
}
.location {
}
.info {
}
.qrcode {
    overflow: visible;
    position:absolute;
    top:0;
    right:0;
    z-index: 70;
}
.maintopic {
    width: 400px;
}

/* Google maps container: */
#mapContainer {
    height: 570px;
    width: 270px;
    border: 10px solid #959DFF;
    z-index: 100;
}
.ui-resizable-helper { border: 2px dotted #00F; }

/* Calendar */
.ui-datepicker-current-day .ui-state-active { background: #9F9F6F } 
.eventDate a.ui-state-hover
{ background: #718DE2 } 
.eventDate a.ui-state-default 
{ background: #4D70DB } 
div.ui-datepicker
{ font-size:12px; margin: 10px; }  

.technicaldate {
    position:absolute;
    visibility: hidden;
}

/* Data source: See the table if JavaScript is disabled... */
#datasource {
    padding: 2px;
    background-color: #CCCCCC;
    border: thin solid #000000;
    z-index: 150;
}

.dsHead {
    background-color: #3366CC;
    color: #CCCCCC;
}
.dsEvent {
    padding: 2px;
    background-color: #CCCCCC;
    border: thin solid #000000;
}
.dsInfo {
    padding: 2px;
    background-color: #CCCCCC;
    border: thin solid #000000;

}
 .datacontainer{}
 .mdatacontainer{}

.dsCity
.dsDay
.dsDetails
.dsEvent
.dsTitle
.dsEventName
.dsHour
.dsId
.dsInfo
.dsLatitude
.dsLocationDetails
.dsLongitude
.dsMinute
.dsMonth
.dsStreetAddress
.dsYear
{}

.aHour
.aMinute
.aMonth
.aDay
{}

.graytarget {
    color: lightgray
}


